.container {
    text-align: center;
    background-color: rgba(54, 53, 53, 0.993);
    color:white;
    height: 100vh;
    padding-top: 20px;
}
.tit {
    font-size: 50px;
    font-weight: 900;
    color:rgb(59, 192, 233);
    margin-bottom: 20px;
}

.def {
    font-size: 30px;
    font-weight: 400;
}

.BtnLink {
    margin-top: 50px;
}

.btn {
    background-color:rgb(59, 192, 233) ;
    padding:10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}

.link {
    font-size: 20px;
}
