.container {
    margin:100px;
}

.tit {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}


.def {
    color: rgba(182, 181, 181, 0.904);
}
.explanation {
    margin-top: 50px;
    font-size:20px;
    color:balck;
}