.container {
    margin:100px;
}

.tit {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.strong {
    text-decoration: underline;
    background-color: rgb(155, 225, 247);
}

.explanation {
    margin-top: 50px;
    font-size:25px;
    color:rgba(182, 181, 181, 0.904)
}